<div id="connect-wrap" class="wrap" aria-live="polite">
    <!-- This class is for the connect wallet button. -->
    <div class="ellipsis">
      <button data-connect aria-controls="connect-wrap">Connect Wallet</button>
    </div>
  </div>
  
  <style>
    .wrap {
      text-align: center;
    }
  
    .ellipsis {
      line-height: 2.7rem;
      margin: auto;
      max-width: 12rem;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;
      white-space: nowrap;
    }
  </style>
  
  <script>
    import { setPos, setPubKey } from "../../utils/state";
    import { setAllowed, getAddress } from "@stellar/freighter-api";
    // assert as HTMLElement/HTMLInputElement in order to get the proper methods
    const ellipsis = document.querySelector("#connect-wrap .ellipsis") as HTMLElement;
    const button = document.querySelector("[data-connect]") as HTMLButtonElement;  // get the element with "data-connect"

    console.log("ConnectWallet.astro script fired")

    setPos(button.getBoundingClientRect());

    async function setLoggedIn(publicKey: string) {
      ellipsis.innerHTML = `Signed in as ${publicKey}`;
      ellipsis.title = publicKey;
      setPubKey(publicKey);
    }
  
    button.addEventListener("click", async () => {
      button.disabled = true;

      // on click, open modal to select wallet get address details
      try {
        await setAllowed();
        await setLoggedIn((await getAddress()).address);
      } catch (e) {
        console.error(e);
      }
  
      button.disabled = false;
    });
  </script>