---
// Modal.astro
const { id, open } = Astro.props;
---


<button onclick={`document.getElementById('${id}').showModal()`}>{open}</button>

<dialog id={id} class="modal">
  <slot name="main" />
  <form method="dialog">
    <slot name="close" />
  </form>
</dialog>

<style lang="scss">
.modal {
  width: 75vw; /* 75% of viewport width */
  height: 95vh; /* 95% of viewport height */
  max-width: none;
  max-height: none;

  /* Change the font color for all text inside the modal */
  color: #AA0099; /* Replace with your desired color */
}

.modal h2, .modal p {
  color: #999999; /* Specific color for headings and paragraphs */
}

.modal::backdrop {
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent backdrop */
}
</style>