# Prefix with "PUBLIC_" to make available in Astro frontend files
PUBLIC_SOROBAN_NETWORK_PASSPHRASE="Test SDF Network ; September 2015"
PUBLIC_SOROBAN_RPC_URL="https://soroban-testnet.stellar.org:443"
PUBLIC_SOROBAN_NETWORK="testnet"

# for testing
PUBLIC_SOROBAN_PK="GDEQQSEN3QWSD5SZT4CZJJ2SELEBCG2YXH4XN5VZMLJBODNANQRSZP3T"
PUBLIC_SOROBAN_SECRET="SDBUV7GJCD2LLE5F7DFJ7BES6CX2S4BNIQBCHGZRTA3RRNSMQLKXOJ5A"

PUBLIC_HELLO_CONTRACT_ID="CAH3Q5F5CPH2ZR7AU4PFLCRJYIR6SL55HBBSOXXO5E4XO3HI6UNPJ5RP"
PUBLIC_INCREMENT_CONTRACT_ID="CAS54Q3S3EDVXSZW3Q426X2HAQXSASHX6LSJRV5EYJ5NKBIBKP7SIUPZ"
PUBLIC_TESTNET_XLM_ID="CDLZFC3SYJYDZT7K67VZ75HPJVIEUVNIXF47ZG2FB2RMQQVU2HHGCYSC"