---
import React from 'react';
import ReactDOM from 'react-dom/client';
import SimpleSlider from '../components/SimpleSlider.jsx';
---


<div>HELLO WORLD</div>
<div id="root" client:load>Simple Slider Below?</div>
<SimpleSlider client:only="react" />
