---
import React from 'react';
import ReactDOM from 'react-dom/client';
import SimpleSlider from '../components/SimpleSlider.jsx';
---

<div id="root" client:load></div>
<SimpleSlider client:only="react" />
